.items {
  content: "";
  clear: both;
  display: block;
  min-width: 320px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 30px; }

.items__title {
  font-size: 24px;
  line-height: 30px;
  font-family: "Verdana";
  font-weight: bold;
  padding-top: 40px; }

.items__top-sales {
  font-size: 16px;
  line-height: 16px;
  color: #34a998;
  font-family: "Open Sans";
  font-weight: bold;
  text-transform: uppercase; }

.items__about,
.items__baskets {
  font-size: 14px;
  line-height: 24px;
  color: #444444;
  font-family: "Open Sans";
  margin-right: 30px; }

.items__baskets {
  width: 260px;
  padding-bottom: 30px; }

.items__baskets td {
  border-bottom: 1px solid #ececec; }

.items__baskets td:nth-child(2) {
  padding-left: 30px; }

.items__picture {
  position: relative;
  display: flex;
  justify-content: center;
  margin-left: -60px; }

.items__price {
  font-size: 16px;
  line-height: 24px;
  color: #444444;
  font-family: "Verdana";
  font-weight: bold;
  text-align: center; }

.items__buy {
  font-size: 16px;
  line-height: 16px;
  color: #444444;
  background-color: #ffffff;
  font-family: "Open Sans";
  font-weight: bold;
  max-width: 260px;
  text-transform: uppercase;
  margin-left: 0; }

.btn {
  height: 50px;
  border: solid 2px #434343;
  display: block;
  position: relative; }

@media (max-width: 767px) {
  .basket-tablet,
  .basket-desktop {
    display: none; }
  .zigzag-line {
    margin-bottom: 50px; }
  .basket-mobile {
    text-align: center;
    margin: 0 auto;
    margin-left: 0px; } }

@media (min-width: 768px) {
  .items__title {
    display: inline-block;
    font-size: 40px;
    line-height: 50px;
    color: black;
    font-family: "Verdana";
    font-weight: bold;
    padding-top: 0;
    margin: 0;
    margin-bottom: 50px; }
  .items__top-sales {
    font-size: 16px;
    line-height: 16px;
    color: #63d1bb;
    font-family: "Open Sans";
    font-weight: bold;
    text-align: center;
    float: right;
    width: 80px; }
  .items__about {
    font-size: 16px;
    line-height: 30px;
    color: #444444;
    font-family: "Open Sans";
    width: 45%; }
  .items__baskets {
    font-size: 15px;
    line-height: 20px;
    color: #444444;
    font-family: "Open Sans";
    width: 45%;
    margin-bottom: 50px; }
  .items__baskets td {
    padding-bottom: 10px;
    padding-top: 10px; }
  .basket-tablet {
    position: absolute;
    right: -100px;
    top: 1150px;
    min-width: 50%; }
  .basket-mobile,
  .basket-desktop {
    display: none; }
  .items__price {
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 35px;
    min-width: 45%;
    font-size: 18px;
    line-height: 24px;
    color: #444444;
    font-family: "Verdana";
    font-weight: bold; }
  button.items__buy.btn {
    margin: 0;
    min-width: 45%;
    margin-bottom: 50px; }
  .zigzag-line {
    margin-bottom: 50px; } }

@media (min-width: 1150px) {
  .basket-tablet {
    display: none; }
  .items__title {
    line-height: 57px;
    font-size: 50px; }
  .items {
    position: relative;
    padding-left: 225px; }
  .items__baskets {
    margin-bottom: 110px;
    padding-bottom: 0; }
  .items__about {
    margin-bottom: 65px; }
  .items__top-sales {
    display: inline-block;
    position: absolute;
    left: 30px;
    top: 0; }
  button.items__buy.btn,
  .items__price,
  .items__about {
    min-width: 290px; }
  .basket-desktop {
    display: block;
    position: absolute;
    left: 50%;
    top: -33px;
    min-width: 525px;
    z-index: -1; }
  .catalog__header {
    background-color: #f1f1f1;
    position: relative;
    display: flex;
    padding-bottom: 190px; }
  .main__catalog {
    position: absolute;
    font-size: 50px;
    line-height: 57px;
    color: #231f20;
    font-family: "Verdana";
    font-weight: bold;
    text-align: center;
    margin-top: 90px;
    max-width: 697px;
    margin-top: 100px;
    left: 50%;
    margin-left: -230px; }
  .zigzag-fill-catalog {
    position: absolute;
    bottom: 0px; }
  .catalog__items ul {
    list-style: none;
    border: 1px solid #f1f1f1;
    display: inline-block;
    width: 30%; }
  .item__title {
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    font-family: "Verdana";
    font-weight: bold; }
  .item__about {
    font-size: 15px;
    line-height: 30px;
    color: #444444;
    font-family: "Open Sans"; }
  .item__price {
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    font-family: "Verdana";
    font-weight: bold; } }
