@media (max-width: 320px) {
  .main-nav {
    width: 260px;
    margin: 0 auto; } }

.main-nav--closed {
  display: block; }

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 30px;
  font-size: 20px;
  margin-top: 10px;
  font-family: "Tahoma";
  font-style: none;
  text-decoration: none;
  width: 20px; }

.main-nav a {
  color: black;
  text-decoration: none; }

.main-nav__item {
  list-style: none;
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  color: black;
  font-family: "Verdana";
  font-weight: bold;
  padding: 28px 46px;
  border-bottom: 1px solid #ebebeb; }

.main-nav__item img {
  position: absolute;
  margin-left: -46px;
  margin-top: 3px; }
