.main-nav {
  width: 320px;
  margin: 0 auto; }
  .main-nav a {
    color: #000000;
    text-decoration: none; }

.main-nav__item {
  position: relative;
  list-style: none;
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  color: black;
  font-family: "Verdana";
  font-weight: bold;
  padding: 28px;
  padding-left: 0;
  border-bottom: 1px solid #ebebeb; }
  .main-nav__item img {
    position: absolute;
    margin-left: -46px;
    margin-top: 3px; }

.main-nav__items {
  padding-left: 0;
  margin: 0; }

.page-header__logo {
  text-align: center;
  width: auto;
  margin: 0 auto;
  padding-top: 22px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ebebeb; }

.main-nav__toggle,
.main-nav__close {
  position: absolute;
  right: 20%;
  top: 30px;
  font-size: 30px;
  text-decoration: none;
  color: #000000; }

@media (max-width: 767px) {
  .main-nav {
    margin: 0 auto; }
  .logo {
    text-align: center;
    padding-top: 22px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ebebeb; }
  .main-nav__items {
    margin-left: 0; }
  .main-nav__items,
  .main-nav__items-desktop,
  .dostavka,
  .catalog__header,
  .main-nav__toggle-hidden,
  .main-nav__close-hidden {
    display: none;
    font-size: 0; }
  .main-nav__item a {
    padding-left: 23%; }
  .menu {
    display: none; }
  .menu-show {
    display: block; } }

@media (min-width: 768px) {
  .main-nav {
    width: auto;
    min-height: 70px;
    margin: 0; }
    .main-nav picture {
      margin-left: 50px; }
  .main-nav__item a {
    position: relative;
    padding-left: 0; }
  .menu {
    margin-left: 50px; }
  .main-nav__item {
    padding-top: 30px;
    display: inline-block;
    border-collapse: collapse;
    padding-left: 0;
    border-bottom: none; }
  .main-nav__item:nth-child(3) {
    font-size: 14px;
    text-align: right;
    line-height: 24px;
    color: #444444;
    font-family: "Verdana";
    font-weight: lighter;
    display: block;
    float: right; }
  .main-nav__item-cart {
    top: -5px;
    left: 49px; }
  .logo a,
  .page-header__top,
  .page-header__logo-desktop,
  .main-nav__items-desktop {
    display: none;
    margin-right: 10px; }
  .page-header__logo,
  .page-header__top {
    display: none; }
  .main-nav__item a {
    text-decoration: none;
    color: #000000; }
  .catalog__links {
    display: relative;
    padding-left: 0; }
    .catalog__links li {
      display: inline-block;
      width: 140px;
      border-bottom: none;
      padding-left: 50px;
      padding-right: 28px; }
    .catalog__links li:nth-child(3) {
      width: 40%;
      position: absolute;
      top: 15px;
      right: -180px;
      font-size: 14px;
      line-height: 24px;
      color: #444444;
      font-family: "Verdana";
      font-weight: lighter; }
  .page-header__logo-tablet {
    position: absolute;
    top: 15px; }
  .main-nav__toggle,
  .main-nav__close {
    display: none; }
  .f,
  .c {
    position: absolute;
    top: -25px;
    border-left: 1px solid #ebebeb; }
  .f {
    right: 315px;
    padding-bottom: 26px; }
    .f a {
      font-size: 0; }
  .c {
    right: 0px;
    padding-bottom: 31px;
    padding-left: 75px; }
  .logo {
    display: block;
    margin-top: 22px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ebebeb; }
  .dostavka {
    position: absolute;
    right: 30px;
    top: 95px; }
    .dostavka a {
      font-weight: lighter;
      text-decoration: none;
      font-size: 14px;
      line-height: 24px;
      color: #444444;
      font-family: "Verdana";
      text-align: right; } }

@media (min-width: 1150px) {
  .main-nav {
    width: auto; }
  .logo {
    margin-top: 0; }
  .main-nav picture {
    position: absolute;
    text-align: center;
    margin-left: 0;
    margin-bottom: 3px;
    left: 50%;
    margin-left: -75px; }
  .menu {
    margin-left: 0; }
  .main-nav__items {
    margin-left: 0px;
    padding-left: 0px; }
    .main-nav__items li:nth-child(2) {
      padding-left: 50px;
      border-left: 1px solid #ebebeb; }
    .main-nav__items li:nth-child(1) {
      padding-left: 50px; }
  .main-nav {
    width: auto;
    border-bottom: 1px solid #ebebeb; }
  .main-nav__items-desktop {
    display: inline-block;
    list-style: none;
    padding-left: 20px;
    margin: 0 auto; }
  .page-header__logo-desktop:hover,
  .main-nav__items li:hover,
  .right-column li a:hover,
  .main-nav__items-desktop li:hover,
  .dostavka:hover {
    opacity: 0.6; }
  .page-header__logo-desktop:active,
  .main-nav__items li:active,
  .right-column li a:active,
  .main-nav__items-desktop li:active,
  .dostavka:active {
    opacity: 0.3; }
  .main-nav__items-desktop li {
    width: auto;
    text-decoration: none;
    border: none;
    font-size: 14px; }
    .main-nav__items-desktop li:nth-child(2) {
      padding-left: 55px; }
  .main-nav__item {
    border-bottom: none;
    padding-left: 28px; }
    .main-nav__item a {
      text-decoration: none;
      color: #000000;
      padding-left: 0px; }
  .desktop__item {
    padding: 20px;
    padding-left: 28px; }
  .f,
  .c {
    position: absolute;
    top: 0px;
    border-left: 1px solid #ebebeb; }
  .f {
    right: 315px;
    padding-bottom: 24px;
    padding-left: 0; }
    .f a {
      font-size: 0; }
  .c {
    right: 0px;
    padding-bottom: 28px;
    padding-left: 75px; }
  .catalog__header-sale {
    display: inline-block;
    padding-left: 0;
    margin: 0 auto;
    margin-left: 0; }
  .catalog__header-sale li {
    border: none;
    font-size: 14px; }
    .catalog__header-sale li a {
      text-decoration: none;
      color: #000000; }
  .dostavka {
    display: inline-block;
    float: right;
    padding-top: 5px; }
    .dostavka a {
      font-weight: lighter;
      text-decoration: none;
      font-size: 14px;
      line-height: 24px;
      color: #444444;
      font-family: "Verdana";
      text-align: right; }
  .catalog__links {
    display: none; }
  .logo {
    padding-bottom: 0;
    border-bottom: none; } }
