.mishka-logo-mobile {
  display: inline-block;
  width: 320px;
  height: 36px;
  position: absolute;
  margin: 0 auto; }

.main__slogan {
  height: auto;
  width: 254px;
  height: 338px;
  font-size: 24px;
  line-height: 30px;
  color: #231f20;
  font-family: "Verdana";
  font-weight: bold;
  text-align: center; }

.main-nav {
  width: 320px;
  margin: 0 auto; }

.main-nav--closed {
  display: block; }

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 30px;
  font-size: 40px;
  font-style: none;
  text-decoration: none;
  width: 30px; }

.logo-mobile {
  width: 240px;
  height: 38px;
  margin: 0 auto; }
