.mishka-logo-mobile {
    width: 90px;
    height: 36px;
    padding: 10px 10px;
    height: 10px;
}

.main-nav__item {
    font-size: 16px;
    line-height: 24px;
    color: rgb(0,0,0);
    font-family: "Verdana";
    font-weight: bold;
}

.main-nav__item:hover {
    color: (102,102,102,0.4);
}

.main-nav__item:active {
    color: (178,178,178,0.7);
}       



.main-nav__close--hidden {
    border-left: 1px;
    border-right: 1px;
    width: 20px;
}
