@main-color {
  background-color: white; }

.mishka-logo-mobile {
  width: 320px;
  height: 36px;
  position: absolute;
  margin: 0 auto;
  background-color: green; }

.main-nav {
  width: 320px;
  margin: 0 auto; }

body {
  background: #fff; }
  body a {
    color: white; }
