.contacts {
    margin-left: 30px;
}

.contacts__title {
    font-size: 24px;
    line-height: 30px;
    font-family: "Verdana";
    font-weight: bold;    
    padding-top: 40px;
}

.contacts__table {
    font-size: 14px;
    line-height: 30px;
    color: rgb(68,68,68);
    font-family: "Open Sans";
}

.contacts__table td {
    vertical-align: baseline;
}

.contacts__table td:nth-child(2) {
    padding-left: 30px;
    padding-bottom: 40px;
}

.contacts__table tr{
    margin-bottom: 65px;
}

.e-mail {
    border-bottom: 1px solid #6bc5b3;
    color: rgb(68,68,68);
    text-decoration: none;
}

.contacts__write {
    font-size: 16px;
    line-height: 16px;
    color: rgb(68,68,68);
    background-color: #ffffff;
    font-family: "Open Sans";
    font-weight: bold;
    width: 260px;
    text-transform: uppercase;
}

.btn {
    height: 50px;
    border: solid 2px #434343;
    display: block;
    position: relative;
    margin:0 auto;
    margin-bottom: 38px;
}

.contacts__map {
    margin-bottom: 40px;
}

.map__tag {
}
