.contacts {
    margin-left: 30px;
}

.contacts__title {
    font-size: 24px;
    line-height: 30px;
    font-family: "Verdana";
    font-weight: bold;    
    padding-top: 40px;
}

.contacts__table {
    font-size: 14px;
    line-height: 30px;
    color: rgb(68,68,68);
    font-family: "Open Sans";
}

.contacts__table td {
    vertical-align: baseline;
}

.contacts__table td:nth-child(2) {
    padding-left: 30px;
    padding-bottom: 40px;
}

.contacts__table tr{
    margin-bottom: 65px;
}

.e-mail {
    border-bottom: 1px solid #6bc5b3;
    color: rgb(68,68,68);
    text-decoration: none;
}

.contacts__write {
    font-size: 16px;
    line-height: 16px;
    color: rgb(68,68,68);
    background-color: #ffffff;
    font-family: "Open Sans";
    font-weight: bold;
    width: 260px;
    text-transform: uppercase;
}

.btn {
    height: 50px;
    border: solid 2px #434343;
    display: block;
    position: relative;
    margin:0 auto;
    margin-bottom: 38px;
}

.contacts__map {
    position: relative;
    margin-bottom: 40px;
}



//mobile
@media (max-width: 767px) {
    .contacts {
        margin: 0 auto;
        margin-left: 30px;
    }

    .map__tablet,
    .map__desktop,
    .contacts__flag {
        display: none;
    }

    .map__tag {
        position: absolute;
        top: 30%;
        left: 33%;
    }
}


//tablet
@media (min-width: 768px) {
    
    .contacts__title {
        display: inline-block;
        font-size: 40px;
        line-height: 50px;
        color: black;
        font-family: "Verdana";
        font-weight: bold;
        padding-top: 0;
        margin: 0;
        margin-top: 20px;
        margin-bottom: 50px;
        min-width: 170px;
    }

    .contacts__flag {
        display: inline-block;
        float: right;
        margin-right: 30px;
        top: -20px;
    }

    .contacts__table {
        min-width: 100%;
        font-size: 16px;
    }

    .contacts__table tr {
        width: 50%;
    }

    .contacts__table tr:nth-child(1) {
        float: left;
    }

    .contacts__table tr:nth-child(2) {        
        float: right;        
    }

    .map__mobile,
    .map__desktop {
        display: none;
    }

    .map__tablet {
        margin-bottom: 25px;
    }

    .map__tag {
        position: absolute;
        top: 30%;
        left: 44%;
    }

    .contacts__table td:nth-child(2) {
        padding-bottom: 0;
    }

    .contacts__write {
        margin-bottom: 57px;
    }
}

//desktop
@media (min-width: 1150px) {

    .map__mobile,
    .map__tablet,
    .map__tag {
        display: none;
    }

    .contacts__title {
        line-height: 57px;
        font-size: 50px;
    }

    .contacts {
        padding-left: 225px;
        position: relative;
        display: table;
    }

    .contacts__flag {
        position: absolute;
        left: 110px;
        top: 0;
    }

    .contacts__table {
        min-width: 300px;
    }

    .contacts__table tr {
        display: table;
        width: 30%;
    }

    .contacts__table tr:nth-child(1) {
        display: inline-block;
        width: 100%;
    }

    .contacts__table tr:nth-child(2) {
        display: inline-block;
        width: 100%;
    }

    .contacts__map {
        position: absolute;
        left: 100%;
        top: 0;
    }

    .contacts__write {
        margin-left: 0;
    }
}