@media (max-width: 767px) {
    .main__form {
        background-color: #f1f1f1;
        font-size: 24px;
        line-height: 30px;
        color: #231f20;
        font-family: "Verdana";
        font-weight: bold;
        text-align: center;
        padding: 75px 0;
        margin: 0 auto;
    }

    .catalog {
        position: relative;
    }
   
    .form__about {
        font-size: 14px;
        line-height: 25px;
        color: #444444;
        font-family: "Open Sans";
        padding: 30px;
        margin: 0 auto;
    }

    .form__title {
        display: inline-block;
        padding: 10px;
        line-height: 16px;
        color: #63d1bb;
        font-family: "Open Sans";
        font-weight: bold;
        text-transform: uppercase;
    }
       
    .accessory {
        border: 4px solid #63d1bb;
        border-radius: 10px;
    }

    .type__choose,
    .color__choose,
    .form__user,
    .form__contacts,
    .form__info {
        margin: 30px;
        position: relative;
        div {
            margin-bottom: 15px;
            position: relative;
        }
    }

    .form__line {
        border-bottom: 1px solid #63d1bb;
        top: -35px;
        z-index: -1;
        margin-left: 70px;        
    }

    .form__line--email {
        margin-left: 88px;
    }

    .underline {
        border-bottom: 2px solid #000;
        top: -35px;
        z-index: -1;
        margin-top: 30px;
    }

    label {
        position: absolute;
        top: 20px;
        font-size: 16px;
        line-height: 18px;
        color: #000000;
        font-family: "Verdana";
        font-weight: bold;
    }

    .type__choose input {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        border-radius: 50%;
        width: 42px;
        height: 42px;
        border: 2px solid #000000;
        transition: 0.2s all linear;
        outline: none;
        margin-right: 25px;

        position: relative;
        top: 4px;
    }

    .color__choose input {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        width: 42px;
        height: 42px;
        border: 2px solid #000000;
        transition: 0.2s all linear;
        outline: none;
        margin-right: 25px;

        position: relative;
        top: 4px;
    }

    

    input[type="checkbox"]:checked + label:after, 
    input[type="checkbox"]:not(:checked) + label:after, 
    input[type="radio"]:checked + label:after, 
    input[type="radio"]:not(:checked) + label:after {
        content: "";
        position: absolute;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    
    input[type="radio"]:checked + label:after, 
    input[type="radio"]:not(:checked) + label:after {
        left: -53px;
        top: 0px;
        width: 15px;
        height: 15px;
        border-radius: 100%;
        background-color: #61d1b9;
    }

    input[type="checkbox"]:checked + label:after, 
    input[type="checkbox"]:not(:checked) + label:after {
        position: absolute;
        left: -51px;
        top: -6px;
        width: 10px;
        height: 25px;
        border-bottom: 2px solid #000;
        border-right: 2px solid #000;
        transform: rotate(45deg);
    }

    input[type="checkbox"]:not(:checked) + label:after, 
    input[type="radio"]:not(:checked) + label:after {
        opacity: 0;
    }

    input[type="checkbox"]:checked + label:after, 
    input[type="radio"]:checked + label:after {
        opacity: 1;
    }

    .form__user input,
    .form__contacts input,
    .form__info input {
        display: inline-block;        
        border: none;
        width: 100%;
        font-size: 16px;
        line-height: 18px;
        color: #444444;
        font-family: "Verdana";
        margin-bottom: 20px;   
    }

    .user__label {
        font-size: 16px;
        line-height: 18px;
        color: #000000;
        font-family: "Verdana";
        font-weight: bold;
        width: 100%;
    }

    .user-text {
        width: 90%;
        min-height: 150px;
        padding: 20px;
        font-size: 16px;
        line-height: 18px;
        color: #444444;
        font-family: "Verdana";
    }
}

@media (min-width: 768px) {
    .main__form {
        position: absolute;
        font-size: 40px;
        line-height: 50px;
        color: #231f20;
        font-family: "Verdana";
        font-weight: bold;
        text-align: center;
        margin: 0 auto;
        max-width: 697px;
        left: 50%;
        margin-left: -150px;
        top: -220px;
    }

    .catalog {
        position: relative;
    }

    .zigzag__form {
        position: absolute;
        top: -90px;
        background-image: url(img/zigzag-fill.png);
        background-repeat: repeat-x;        
    }

    .form__about {
        padding: 50px;
        margin: 0 auto;
    }

}

@media (min-width: 1150px) {
    .main__form {
        font-size: 50px;
        line-height: 57px;
        color: #231f20;
        font-family: "Verdana";
        font-weight: bold;
        text-align: center;
        max-width: 697px;
        left: 50%;
        margin-left: -200px;
    }

    .form__about {
        padding: 50px 0 50px 220px;
        margin: 0 auto;
    }    
}