@media (max-width: 767px) {
    .main__form {
        background-color: #f1f1f1;
        font-size: 24px;
        line-height: 30px;
        color: #231f20;
        font-family: "Verdana";
        font-weight: bold;
        text-align: center;
        padding: 75px 0;
        margin: 0 auto;
    }

    .catalog {
        position: relative;
    }
}

@media (min-width: 768px) {
    .main__form {
        position: absolute;
        font-size: 40px;
        line-height: 50px;
        color: #231f20;
        font-family: "Verdana";
        font-weight: bold;
        text-align: center;
        margin: 0 auto;
        max-width: 697px;
        left: 50%;
        margin-left: -150px;
        top: -220px;
    }

    .catalog {
        position: relative;
    }
}

@media (min-width: 1150px) {
    .main__form {
        font-size: 50px;
        line-height: 57px;
        color: #231f20;
        font-family: "Verdana";
        font-weight: bold;
        text-align: center;
        max-width: 697px;
        left: 50%;
        margin-left: -200px;
    }    
}