@media (max-width: 767px) {
    .main__form {
        background-color: #f1f1f1;
        font-size: 24px;
        line-height: 30px;
        color: #231f20;
        font-family: "Verdana";
        font-weight: bold;
        text-align: center;
        padding: 75px 0;
        margin: 0 auto;
    }

    .catalog {
        position: relative;
    }
   
    .form__about {
        font-size: 14px;
        line-height: 25px;
        color: #444444;
        font-family: "Open Sans";
        padding: 30px;
    }

    .form__type,
    .form__color {
        display: inline-block;
        padding: 30px;
        margin: 0 auto;
        font-size: 16px;
        line-height: 16px;
        color: #63d1bb;
        font-family: "Open Sans";
        font-weight: bold;
        text-transform: uppercase;
    }

    .form__color {
        padding-right: 25px;
        padding-left: 25px;
    }

    .form__line {
        width: 62%;
        display: inline-block;
        border-bottom: 1px solid #63d1bb;
        margin-bottom: 4px;
    }
    
    .accessory {
        border: 4px solid #63d1bb;
        border-radius: 10px;
    }

    input.p {
        width: 50%;
    }

    .type__choose {
        margin-left: 30px;
    }

    .label {
        width: 50%;
    }
}

@media (min-width: 768px) {
    .main__form {
        position: absolute;
        font-size: 40px;
        line-height: 50px;
        color: #231f20;
        font-family: "Verdana";
        font-weight: bold;
        text-align: center;
        margin: 0 auto;
        max-width: 697px;
        left: 50%;
        margin-left: -150px;
        top: -220px;
    }

    .catalog {
        position: relative;
    }

    .zigzag__form {
        position: absolute;
        top: -90px;
        background-image: url(img/zigzag-fill.png);
        background-repeat: repeat-x;        
    }

    .form__about {
        padding: 50px;
    }
}

@media (min-width: 1150px) {
    .main__form {
        font-size: 50px;
        line-height: 57px;
        color: #231f20;
        font-family: "Verdana";
        font-weight: bold;
        text-align: center;
        max-width: 697px;
        left: 50%;
        margin-left: -200px;
    }

    .form__about {
        padding: 50px 0 50px 220px;
        margin: 0 auto;
    }    
}