.main-nav__items {
    display: block;
}

.main__background {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 90px;
    top: -75px;
    z-index: -1;
}

.main__slogan {
    position: absolute;
    height: auto;
    width: 254px;
    font-size: 24px;
    line-height: 30px;
    color: rgb(35,31,32);
    font-family: "Verdana";
    font-weight: bold;
    text-align: center;
    margin-top: 90px;
    max-width: 697px;
}

.main__interior {
    position: absolute;
    top: 300px;
    background-color: #63d1bb;
    font-size: 18px;
    line-height: 24px;
    color: rgb(255,255,255);
    font-family: "Tahoma";
    font-weight: bold;
    width: 320px;
    text-align: left;
    padding: 25px;
    border: none;
}

.interior__img {
    float: right;
    margin-top: -30px;
    margin-right: 10px;
}

.main__toy {
    position: absolute;
    top: 402px;
    background-color: #55c3b2;
    font-size: 18px;
    line-height: 24px;
    color: rgb(255,255,255);
    font-family: "Tahoma";
    font-weight: bold;
    min-width: 320px;
    text-align: left;
    padding: 25px;
    border: none;
}

.toy__img {
    float: right;
    margin-top: -30px;
}

//mobile
@media (max-width: 767px) {
    .main-nav {
        margin: 0 auto;
    }

    .main__background {
        top: -30px;
    }

    .item__img {
        width: 260px;
        background: url(img/icons)
    }
}

//tablet
@media (min-width: 768px) {
    .main__background {
        top: -83px;        
        background-color: #f9f9f9;
        margin-bottom: 50px;
    }

    .hero-mobile {
        display: none;
    }

    .main__slogan {
        position: absolute;
        height: auto;
        width: 700px;
        height: 264px;
        font-size: 40px;
        line-height: 50px;
        color: rgb(35,31,32);
        font-family: "Verdana";
        font-weight: bold;
        text-align: center;
        left: 50%;
        margin-left: -350px;
    }

    .main__interior {
        width: 50%;
        bottom: 0;
        left: 0;
        top: 315px;
        height: 120px;
    }

    .main__toy {
        width: 50%;
        bottom: 0;
        right: 0;
        top: 315px;
        height: 120px;
    }

    .zigzag-fill {
        position: absolute;
        bottom: -72px;
    }

}


//desktop
@media (min-width: 1150px) {
    .main__background {
        top: -65px;
        margin-bottom: 70px;
    }

    .main__toy,
    .main__interior {
        top: 315px;
    }

    .zigzag-fill {
        bottom: -70px;
    }

    .main__interior:hover {
        background-color: #58d5bc;
        top: 620px;
        min-height: 130px;
        padding-top: 20px;
    }

    .main__interior:active {
        opacity: 0.3;
    }

    .main__toy:hover {
        background-color: #45c1ae;
        top: 620px;
        min-height: 130px;
        padding-top: 20px;
    }

    .main__toy:active {
        opacity: 0.3;
    }   
}