
.main-nav--closed {
    display: block;
}

.main-nav {
    width: 320px;
    margin: 0 auto;

    a {
        color: #000000;
        text-decoration: none;
    }
}

.main-nav__item {
    list-style: none;
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    color: rgb(0,0,0);
    font-family: "Verdana";
    font-weight: bold;
    padding: 28px;
    padding-left: 0;
    border-bottom: 1px solid #ebebeb;

    img {
        position: absolute;
        margin-left: -46px;
        margin-top: 3px;
    }
}

.main-nav__close {
    float: right;
    padding-right: 30px;
    font-size: 30px;
    text-decoration: none;
    color: #000000;
}

.main-nav__items {
    padding-left: 0;
    margin: 0;
}

.page-header__logo {
    width: 240px;
    margin: 0 auto;
    padding-left: 114px;
    padding-top: 22px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ebebeb;
}

.page-header__toggle {
    float: right;
    padding-right: 30px;
    font-size: 30px;
    text-decoration: none;
    color: #000000;
}



@media (max-width: 767px) {
    .main-nav {
        margin: 0 auto;
    }
    .page-header__logo-tablet {
        display: none;
    }

    .main-nav__item a {
        padding-left: 76px;
    }
}

//tablet
@media (min-width: 768px) {
    .page-header__logo-tablet {
        margin-left: 50px;
        margin-top: 20px;
    }

    .main-nav { 
        width: auto;
        min-height: 70px;
        margin: 0;
    }

    .main-nav__item {
        display: inline-block;
        margin: 0;
        img {
            margin-right: 30px;
        }
        border-collapse: collapse;
    }

    .main-nav__item a {
        padding-left: 30px;
    }

    .main-nav__item-find {
        left: 80px;
        top: 29px;
    }

    .right-column {
        position: absolute;
        top: 0;
        right: 0;
        
        .main-nav__item {
            border-bottom: 1px solid #ebebeb;
            border-left: 1px solid #ebebeb; 
            padding-left: 30px;
        }        
    }

    .left-column {
        .main-nav__item {
            border-bottom: none;
            padding-top: 30px;
        }
    }

    .f {
        font-size: 0;
        height: 18px;
        max-width: 18px;

    }

    .page-header__logo {
        display: none;
    }

}

@media (min-width: 1200px) {
    .main-nav {
        width: 1200px;
    }
}