.reviews__title {
    font-size: 24px;
    line-height: 30px;
    font-family: "Verdana";
    font-weight: bold;    
    padding-top: 40px;
}

.slider__item {
    font-size: 14px;
    line-height: 30px;
    color: rgb(68,68,68);
    font-family: "Open Sans";
}

.reviews__author-name {
    font-size: 14px;
    line-height: 24px;
    font-family: "Verdana";
    font-weight: bold;
    text-transform: none;
}
