.main__slogan {
    height: auto;
    width: 254px;
    height: 338px;
    font-size: 24px;
    line-height: 30px;
    color: rgb(35,31,32);
    font-family: "Verdana";
    font-weight: bold;
    text-align: center;
    background-color: yellow;  
}